PySide2==5.15.2
shiboken2==5.15.2
autopep8==1.5.7
psycopg2-binary==2.8.6
python-dotenv==0.17.1
six==1.16.0
SQLAlchemy==1.4.14
SQLAlchemy-Utils==0.37.2
tensorflow==2.4.0
keras==2.4.3 
numpy==1.19.3 
pillow==7.0.0 
scipy==1.4.1 
h5py==2.10.0 
matplotlib==3.3.2 
opencv-python 
keras-resnet==0.2.0
imageai